<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fat-rate Prediction</title>
</head>
<body>
    <center>
        <h1> Fat rate(체지방) Prediction
        <form method="POST", action="{{url_for('get_fat')}}">
           <b> 나이 :  <input type="text", name='data_age', placeholder="나이 입력"> <br><br>
            키 :  <input type="text", name='data_height', placeholder="키 입력"> <br><br>
            몸무게 :  <input type="text", name='data_weight', placeholder="체중 입력"> <br><br>
            제자리멀리뛰기 기록(cm) :  <input type="text", name='data_jump', placeholder="기록 입력"> <br><br>
            셔틀런 기록(개) : <input type="text", name='data_shuttle', placeholder="기록 입력"> <br><br><br></b>
            <input type="submit" , value='체지방 예측 실시!' >
        </form>
        </h1>
    </center>
</body>
</html>